<%- include("../partials/header.ejs") %>
<link rel="stylesheet" href="/styles1.css">
<link rel="stylesheet" href="/bootstrap.min.css">
<div style="background-image: linear-gradient(45deg,#334d50,#cbcaa5); min-height:100vh;">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h2>View Employee <a class="btn btn-primary float-right m-2" href="/medapp-expense-admin/dashboard">Back to Dashboard</a> <a class="btn btn-primary float-right m-2" href="/medapp-expense-admin/logout">Logout</a></h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">
        <table class="table table-hover text-center">
          <thead>
            <tr class="table-primary">
              <th scope="col">Employee Name</th>
              <th scope="col">ID</th>
              <th scope="col">Designation</th>
              <th scope="col">Department</th>
              <% if(employees.length > 0) { %>
                <th scope="col"><small>Approved Expenses <br/>(This month)</small></th>
                <th scope="col"><small>Disapproved Expenses <br/>(This month)</small></th>
                <th scope="col"><small>Pending Expenses <br/>(This month)</small></th>
              <% } %>
              <th scope="col">Avatar</th>
              <% if(employees.length > 0) { %>
                <th scope="col">View Detail</th>
              <% } %>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <% if(employees.length > 0) { let appExpense, disappExpense, penExpense %>
              <% employees.forEach((employee) => { appExpense = disappExpense = penExpense = 0 %>
                <tr>
                  <td><%= employee.name %></td>
                  <td><%= employee.email %></td>
                  <td><%= employee.designation || "Nil" %></td>
                  <td><%= employee.department || "Nil" %></td>
                  <% if(approvedExpenses) { %>
                    <% approvedExpenses.forEach((expense) => { if(expense.employee.equals(employee._id)) appExpense += expense.amount }) %>
                  <% } %>
                  <% if(disapprovedExpenses) { %>
                    <% disapprovedExpenses.forEach((expense) => { if(expense.employee.equals(employee._id)) disappExpense += expense.amount }) %>
                  <% } %>
                  <% if(pendingExpenses) { %>
                    <% pendingExpenses.forEach((expense) => { if(expense.employee.equals(employee._id)) penExpense += expense.amount }) %>
                  <% } %>
                  <td>Rs. <%= appExpense %></td>
                  <td>Rs. <%= disappExpense %></td>
                  <td>Rs. <%= penExpense %></td>
                  <td><a href="/medapp-expense-admin/employee/avatar?emp=<%= employee._id %>"><img src="/medapp-expense-admin/employee/avatar?emp=<%= employee._id %>&size=small" style="width: 100px"></a></td>
                  <td><a href="/medapp-expense-admin/employee?emp=<%= employee._id %>" class="btn btn-sm btn-outline-primary">View Detail</a></td>
                  <td><button onClick="(() => {
                                        if(confirm('Are you really want to delete employee!')) 
                                        {
                                          window.location.href='/medapp-expense-admin/employee/delete?emp=<%= employee._id %>'
                                        }
                                      })()"  
                              class="btn btn-outline-danger"
                      >Delete Employee</button>
                  </td>
                </tr>
              <% }) %>
            <% } else if(employee) { %>
                <tr>
                  <td><%= employee.name %></td>
                  <td><%= employee.email %></td>
                  <td><%= employee.designation || "Nil" %></td>
                  <td><%= employee.department || "Nil" %></td>
                  <td><a href="/medapp-expense-admin/employee/avatar?emp=<%= employee._id %>"><img src="/medapp-expense-admin/employee/avatar?emp=<%= employee._id %>&size=small" style="width: 100px"></a></td>
                  <td><button onClick="(() => {
                                        if(confirm('Are you really want to delete employee!')) 
                                        {
                                          window.location.href='/medapp-expense-admin/employee/delete?emp=<%= employee._id %>'
                                        }
                                      })()"  
                              class="btn btn-outline-danger"
                      >Delete Employee</button>
                  </td>
                </tr>
              <% } else { %>
                <tr>
                  <td colspan="10">
                    <div class="jumbotron text-muted text-center">
                      Sorry no employees exists!
                    </div>
                  </td>
                </tr>
              <% } %>
          </tbody>
        </table>
        <% if(employee) { let totalAmount = 0 %>
          <div class="card mt-4">
            <div class="card-header">
              <h4>Approved Expenses</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                        <tr>
                  <th scope="col">Expense Type</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Mode of Travel</th>
                  <th scope="col">From</th>
                  <th scope="col">To</th>
                  <th scope="col">Details</th>
                  <th scope="col">Date</th>
                  <th scope="col">Bill Image</th>
                  <th scope="col">Status</th>
                  <th scope="col">Change Status</th>
                </tr>
                    </thead>
                    <tbody>
                  <% if(approvedExpenses.length > 0) { %>
                  <% approvedExpenses.forEach((expense) => { totalAmount += expense.amount %>
                    <tr>
                      <td><%= expense.expenseType %></td>
                      <td>Rs. <%= expense.amount %></td>
                      <td><%= expense.mode || "Nil" %></td>
                      <% if(expense.from && expense.to) { %>
                        <td><%= decode(expense.from) %></td>
                        <td><%= decode(expense.to) %></td>
                      <% } else { %>
                        <td>NIL</td>
                        <td>NIL</td>
                      <% } %>
                      <td><%= decode(expense.detail) %></td>
                      <td><%= expense.createdAt.toDateString() %></td>
                      <td><a href="/medapp-expense-admin/expenses/bill?eid=<%= expense._id %>&emp=<%= expense.employee %>" class="btn btn-sm btn-outline-primary" download>Download</a></td>
                      <td>
                        <div class="btn btn-success">Approved</div>
                      </td>
                      <td>
                        <a href="/medapp-expense-admin/expenses?eid=<%= expense._id %>&status=inactive" class="btn btn-sm btn-outline-secondary">Disapprove</a>
                      </td>
                    </tr>
                  <% }) %>
                <% } else { %>
                  <tr>
                    <td colspan="10">
                      <div class="jumbotron text-center text-muted">
                        No approved Expenses
                      </div>
                    </td>
                  </tr>
                <% } %>
                    </tbody>
                  </table>
            </div>
            </div>
            <div class="card-footer text-right">
              Total Amount: <%= totalAmount %>
            </div>
          </div>
          <div class="card mt-4">
            <div class="card-header">
              <h4>Disapproved Expenses</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                        <tr>
                  <th scope="col">Expense Type</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Mode of Travel</th>
                  <th scope="col">From</th>
                  <th scope="col">To</th>
                  <th scope="col">Details</th>
                  <th scope="col">Date</th>
                  <th scope="col">Bill Image</th>
                  <th scope="col">Status</th>
                  <th scope="col">Change Status</th>
                </tr>
                    </thead>
                    <tbody>
                  <%  totalAmount = 0 ; if(disapprovedExpenses.length > 0) { %>
                  <% disapprovedExpenses.forEach((expense) => { totalAmount += expense.amount %>
                    <tr>
                      <td><%= expense.expenseType %></td>
                      <td>Rs. <%= expense.amount %></td>
                      <td><%= expense.mode || "Nil" %></td>
                      <% if(expense.from && expense.to) { %>
                        <td><%= decode(expense.from) %></td>
                        <td><%= decode(expense.to) %></td>
                      <% } else { %>
                        <td>NIL</td>
                        <td>NIL</td>
                      <% } %>
                      <td><%= decode(expense.detail) %></td>
                      <td><%= expense.createdAt.toDateString() %></td>
                      <td><a href="/medapp-expense-admin/expenses/bill?eid=<%= expense._id %>&emp=<%= expense.employee %>" class="btn btn-sm btn-outline-primary" download>Download</a></td>
                      <td>
                        <div class="btn btn-danger">Disapproved</div>
                      </td>
                      <td>
                        <a href="/medapp-expense-admin/expenses?eid=<%= expense._id %>&status=active" class="btn btn-sm btn-outline-secondary">Approve</a>
                      </td>
                    </tr>
                  <% }) %>
                <% } else { %>
                    <tr>
                    <td colspan="10">
                      <div class="jumbotron text-center text-muted">
                        No disapproved Expenses
                      </div>
                    </td>
                  </tr>
                <% } %>
                    </tbody>
                  </table>
            </div>
            </div>
            <div class="card-footer text-right">
              Total Amount: <%= totalAmount %>
            </div>
          </div>
          <div class="card mt-4">
            <div class="card-header">
              <h4>Pending Expenses</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                        <tr>
                  <th scope="col">Expense Type</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Mode of Travel</th>
                  <th scope="col">From</th>
                  <th scope="col">To</th>
                  <th scope="col">Details</th>
                  <th scope="col">Date</th>
                  <th scope="col">Bill Image</th>
                  <th scope="col">Status</th>
                  <th scope="col">Change Status</th>
                </tr>
                    </thead>
                    <tbody>
                  <% totalAmount = 0; if(pendingExpenses.length > 0) { %>
                  <% pendingExpenses.forEach((expense) => { totalAmount += expense.amount %>
                    <tr>
                      <td><%= expense.expenseType %></td>
                      <td>Rs. <%= expense.amount %></td>
                      <td><%= expense.mode || "Nil" %></td>
                      <% if(expense.from && expense.to) { %>
                        <td><%= decode(expense.from) %></td>
                        <td><%= decode(expense.to) %></td>
                      <% } else { %>
                        <td>NIL</td>
                        <td>NIL</td>
                      <% } %>
                      <td><%= decode(expense.detail) %></td>
                      <td><%= expense.createdAt.toDateString() %></td>
                      <td><a href="/medapp-expense-admin/expenses/bill?eid=<%= expense._id %>&emp=<%= expense.employee %>" class="btn btn-sm btn-outline-primary" download>Download</a></td>
                      <td>
                        <div class="btn btn-warning">Pending</div>
                      </td>
                      <td>
                        <a href="/medapp-expense-admin/expenses?eid=<%= expense._id %>&status=inactive" class="btn btn-sm btn-outline-secondary">Disapprove</a>
                        <a href="/medapp-expense-admin/expenses?eid=<%= expense._id %>&status=active" class="btn btn-sm btn-outline-secondary">Approve</a>
                      </td>
                    </tr>
                  <% }) %>
                <% } else { %>
                    <tr>
                    <td colspan="10">
                      <div class="jumbotron text-center text-muted">
                        No pending Expenses
                      </div>
                    </td>
                  </tr>
                <% } %>
                    </tbody>
                  </table>
            </div>
            </div>
            <div class="card-footer text-right">
              Total Amount: <%= totalAmount %>
            </div>
          </div>
        <% } %>
      </div>
      </div>
    </div>
  </div>
  </div>
<%- include("../partials/footer.ejs") %>
